on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules q6_pdr_dlkm q6_notifier_dlkm snd_event_dlkm apr_dlkm adsp_loader_dlkm q6_dlkm native_dlkm pinctrl_wcd_dlkm pinctrl_lpi_dlkm platform_dlkm hdmi_dlkm stub_dlkm wcd_core_dlkm bolero_cdc_dlkm va_macro_dlkm rx_macro_dlkm tx_macro_dlkm machine_dlkm

on init
    mkdir /dev/freezer
    mount cgroup none /dev/freezer freezer
    mkdir /dev/freezer/frozen
    mkdir /dev/freezer/thaw
    write /dev/freezer/frozen/freezer.state FROZEN
    write /dev/freezer/thaw/freezer.state THAWED
    write /dev/freezer/frozen/freezer.killable 1

    chown system system /dev/freezer
    chown system system /dev/freezer/frozen
    chown system system /dev/freezer/frozen/tasks
    chown system system /dev/freezer/frozen/cgroup.procs
    chown system system /dev/freezer/frozen/freezer.state
    chown system system /dev/freezer/thaw
    chown system system /dev/freezer/thaw/tasks
    chown system system /dev/freezer/thaw/cgroup.procs

    chmod 0644 /dev/freezer/frozen/tasks
    chmod 0644 /dev/freezer/frozen/cgroup.procs
    chmod 0644 /dev/freezer/frozen/freezer.state
    chmod 0644 /dev/freezer/thaw/tasks
    chmod 0644 /dev/freezer/thaw/cgroup.procs

on post-fs
    mkdir /efs/carrier 0755 radio system

on boot
    write /proc/sys/vm/swappiness 130
    write /proc/sys/vm/page-cluster 0
